input[type=range] {
    width: 100px;
    height:20px;
}
input[type=numberbox] {
    color:black;
}

#wrapper {
	padding-left: 300px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #000;
    color:white;
}
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#params ,#evolveDiv, #seedDiv{
	margin: 20px;
	border:1px solid white;
	padding: 10px;
}

#loadSeed{
	margin-top:10px;
}
.title{
	font-weight: bold;
	font-size: 20px;
	margin-left:20px;
	margin-bottom:-15px;
	margin-top: 20px
}
footer{
	margin-left: 20px;
}
a:visited{
	color:white;
}
#chaosResult, #evolveRateResult{
	display:inline;
}
.change{
    font-size:12px;
    height:30px;
}
input[type=checkbox] + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-off-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
input[type=checkbox]:checked + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
#summary{
    width:200px;
    display:inline-block;
}
#pauseDiv{
    display:inline;
    position:relative;
    top:-20px;
}
