input[type=range] {
    width: 100px;
    height:20px;
}
input[type=numberbox] {
    color:black;
}

#wrapper {
	padding-left: 300px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 300px;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #000;
    color:white;
}
#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
#params ,#evolveDiv, #seedDiv{
	margin: 20px;
	border:1px solid white;
	padding: 10px;
}

#loadSeed{
	margin-top:10px;
}
.title{
	font-weight: bold;
	font-size: 20px;
	margin-left:20px;
	margin-bottom:-15px;
	margin-top: 20px
}
footer{
	margin-left: 20px;
}
a:visited{
	color:white;
}
#chaosResult, #evolveRateResult{
	display:inline;
}
.change{
    font-size:12px;
    height:30px;
}
input[type=checkbox] + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-off-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
input[type=checkbox]:checked + label{
    background: url("http://icons.iconarchive.com/icons/custom-icon-design/mono-general-4/16/sound-icon.png") no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position:relative;
    top:6px;
}
#summary{
    width:200px;
    display:inline-block;
}
#pauseDiv{
    display:inline;
    position:relative;
    top:-20px;
}

#lyrics{
    display:inline;
    margin-left:20px;
}
#voiceDiv{
    position:relative;
    margin:10px 0;
}
 .input-file-container {
  position: relative;
  width: 225px;
}
 .input-file-trigger {
  display: block;
  padding: 5px 45px;
  background: #000;
  color: #fff;
  font-size: 1em;
  border:1px solid white;
  cursor: pointer;
}
 .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}
 
 .input-file:hover + .input-file-trigger,
 .input-file:focus + .input-file-trigger,
 .input-file-trigger:hover,
 .input-file-trigger:focus {
  color: #555;
}
 
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
 .file-return {
  font-style: italic;
  font-size: .7em;
  font-weight: bold;
}
 .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
